
  /* ---------------#MARK:Butacas--------------- */

  #asientos input[type="checkbox"] {
    cursor: pointer;
    background-color: #fff;
    width: 25px;
    height: 25px;
    appearance: none;
    border: 1px solid #000000;
    border-radius: 5px;
  }

  #asientos input[type="checkbox"][class="disponible"]:hover {
    transition: background-color 0.3s;
    background-color: #64b1ff;
  }

  #asientos input[type="checkbox"][class="disponible"]:checked {
    transition: background-color 0.3s;
    background-color: #2b36ff;
  }

  #asientos input[type="checkbox"][class="disponible"]:checked:hover {
    transition: background-color 0.3s;
    background-color: rgb(162, 63, 255);
  }

  #asientos input[type="checkbox"][class="reservadoPorAlguienMas"] {
    background-color: rgb(216, 28, 28);
    cursor: not-allowed;
  }



  #asientos input[type="checkbox"][class="Ocupado"] {
    background-color: rgb(221, 194, 44);
    cursor: not-allowed;
  }

  #div-sala {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  #espacio {
     flex-grow: 1;
  }
  #sala{
    padding-left: 20px;
  }
  #favorita {
    appearance: none;
    width: 70px;
    height: 50px;
    background: url(../Images/twitter_fave.png) no-repeat;
    background-position: 0 0;
    transition: background 1s steps(55);
    cursor: pointer;
  }
  #favorita:checked {
    background-position: -3519px 0;
    transition: background 1s steps(55);
  }

  @media (prefers-color-scheme: light) {
    #favorita {
      background: url(https://cssanimation.rocks/images/posts/steps/twitter_fave.png) no-repeat;
    }
  }
  